body {
    height: 100dvh;
    user-select: none;
    overflow: hidden;
}

.sharp-viewer {
    --popup-color: #222;
    --secondary-color: #444;
    --background-color: #111;
    --text-color: #ddd;
    --font-main: "Poppins", "Roboto", Arial, sans-serif;
    --checkerboard-size: 20px;
    --checkerboard-color: #ccc;
    --checkerboard-bg: #fff;

    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.sharp-viewer img.checkerboard {
    background-color: var(--checkerboard-bg);
    background-image:
        linear-gradient(45deg, var(--checkerboard-color) 25%, transparent 25%),
        linear-gradient(-45deg, var(--checkerboard-color) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--checkerboard-color) 75%),
        linear-gradient(-45deg, transparent 75%, var(--checkerboard-color) 75%);
    background-size: var(--checkerboard-size) var(--checkerboard-size);
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    background-attachment: fixed;
}

.sharp-viewer img {
    position: absolute;
    height: 100%;
    user-select: none;
}

.sharp-viewer .popup {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--popup-color);
    font-family: var(--font-main);
    border-radius: 100vw;
    color: var(--text-color);
    padding: 0.5em 1em;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}

.sharp-viewer .keybind-hint {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: var(--popup-color);
    font-family: var(--font-main);
    border-radius: 10px;
    color: var(--text-color);
    padding: 1em 2em;
    z-index: 1000;
    transition: opacity 0.2s;
    opacity: 0;
    pointer-events: none;
}

.sharp-viewer .keybind-hint td {
    padding: 0 0.5em;
}

.sharp-viewer .keybind-hint thead {
    font-size: 1.2em;
}

.sharp-viewer kbd {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 0.2em 0.5em;
    margin: 0 0.2em;
}